.div1{
    height: 50px ;
    background-color: blue; 
}

.div2{
    height: 400px;
    background-color: coral  ;
    }

.div3 {
    height: 50px;
    background-color: blue;
}

.div4{
    height: 50px;
    background-color: crimson;
}
